*
    margin 0
    padding 0
    line-height 1
    box-sizing border-box
    font-family Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans MonoJAvU","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,Sans-Serif
html
    height 100%
body
    height 100%
a
    text-decoration none
    color inherit
ul,ol
    list-style none
i,em
    font-style normal
.png1
    background url('./image/page1.png')
.png2
    background url('./image/page2.jpg')
.png3
    background url('./image/page3.png')
.hide
    display none
.move_refuse
    width (76/20)rem
    height @width
    border-radius 50%
    background url('./image/refuse.png')
    background-size 100% 100%
    position absolute
    top 74%
    right (58/20)rem
.hodTime
    position absolute
    top 18%
    text-align center
    display inline-block
    color white
    font-size (16/20)rem
    width 100%
.right
    position relative
    float right
.left
    position relative
    float left
.myText
    position absolute
    top 1rem
    left 2.8rem
.size14
    font-size (14/20)rem
.placeGroup
    top (35/20)rem
    left (193/20)rem
.placeBoss
    bottom 0.9rem
    right 2rem
.rect
    width (2/20)rem
    height 1rem
    position absolute
    background rgb(114,144,215)
    border-radius 0.5px
    top 0.8rem
    left 2.5rem
.pilot
    position absolute
    display block
    width 0.7rem
    height 0.7rem
    border-radius 50%
    background white
    box-shadow 0 0 0 (7/40)rem rgba(141,141,141,1),0 0 0 (7/20)rem rgba(170,170,170,1),0 0 0 (21/40)rem rgba(200,200,200,1),0 0 0 (7/20)rem rgba(233,233,233,1)
.showPilot
    animation pilot 1.3s  linear infinite
@keyframes pilot
    0%
        opacity 0
    25%
        opacity 0.5
    50%
        opacity 1
    75%
        opacity 0.5
    100%
        opacity 0
.page1
    width 100%
    height 100%
    background-size 100% 100%
    position relative
    a
        width (76/20)rem
        height @width
        border-radius 50%
        display inline-block
        position absolute
        top 74%
    .answer
        right (58/20)rem
    .refuse
        left (56/20)rem
.groupChat
    width 100%
    height 100%
    background rgb(235,235,235)
    background-image url('./image/box.png')
    background-size 100% (50/20)rem
    background-position bottom
    background-repeat no-repeat
    padding (10/20)rem (10/20)rem (50/20)rem
    position relative
    .item
        margin-bottom (14/20)rem
        overflow hidden
        position relative
        .icon
            display inline-block
            width (40/20)rem
            height (40/20)rem
            background-size 100% 100%
        img
            display inline-block
            width 50%
            height 50%
            margin-right (5/20)rem
            margin-left (5/20)rem
.bossChat
    width 100%
    height 100%
    background rgb(235,235,235)
    background-image url('./image/box.png')
    background-size 100% (50/20)rem
    background-position bottom
    background-repeat no-repeat
    padding (10/20)rem (10/20)rem (50/20)rem
    position relative
    .item
        margin-bottom (14/20)rem
        overflow hidden
        position relative
        .icon
            display inline-block
            width (40/20)rem
            height (40/20)rem
            background-size 100% 100%
        img
            display inline-block
            width 50%
            height 50%
            margin-right (5/20)rem
            margin-left (5/20)rem
.typewriting
    background-image url('./image/typewriting.png')
    width 100%
    height 0
    background-size 100% 100%
    position absolute
    bottom 0


